<!-- <div class="modal-overlay" *ngIf="polygonData">
    <div class="modal-content">
        <h2>{{ polygonData.descricao || 'Detalhes do Polígono' }}</h2>
        <div class="details">
            <p><strong>Tipo de Geometria:</strong> {{ polygonData.tipoGeometria }}</p>
            <p><strong>Município:</strong> {{ polygonData.municipio }}</p>
            <p><strong>Tema:</strong> {{ polygonData.nom_tema || 'N/A' }}</p>
            <p><strong>Código do Imóvel:</strong> {{ polygonData.codImovel }}</p>
            <p><strong>Biomas:</strong> {{ polygonData.biomas }}</p>
        </div>
        <button class="close-btn" (click)="closeModal()">Fechar</button>
    </div>
</div> -->